.card-img {
    max-width: 500px;
    height: auto;
}

.card-footer{
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
}

.card-text {
    width: 100%;
}

.card-footer small {
    vertical-align: middle;
}

.right {
    position: absolute;
    right: 0;
}
