<mat-sidenav-container class="example-container" >
<mat-sidenav  mode="side" position="start" id="sidenavbar" opened>
    <app-sidenav [title]="title"></app-sidenav>

</mat-sidenav>
    <mat-sidenav-content id="content">
        <div class="container-fluid">
            <div class="row mt-4 m-4">
                <div class="col-md-12 text-center">
                    <h3 id="filter">
                        Search in your receipts
                    </h3>
                </div>
            </div>

            <div class="row mt-4 search-box py-4">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9 text-center">
                                <input class="w-100" type="text">
                            </div>
                            <div class="col-md-3 text-center">
                                <input type="button" value="Search">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- TODO: MINDEN EGYES BUTTONNAK ADNI KELL EGY ÉRTÉKET AZ ALAPJÁN HOGY MILYEN TEXT VAN BENNE PÉLDA A LEVES -->
                <div class="col-md-12 mt-3">
                    <div class="container-fluid">
                        <div class="row">
                            <button class="col-md-4 search-topics" (click)="searchedFilter($event)" name="soup" value="soup" id="soup">
                               <a> Soup </a>
                            </button>
                            <button class="col-md-4 search-topics">
                              <a>  Vega ételek   </a>  
                            </button>
                            <button class="col-md-4 search-topics">
                               <a> Húsos ételek</a>    
                            </button>
                        </div>

                        <div class="row">
                            <button class="col-md-4 search-topics">
                               <a> Levesek</a>
                            </button>
                            <button class="col-md-4 search-topics">
                                <a>Vega ételek</a>     
                            </button>
                            <button class="col-md-4 search-topics">
                               <p>Húsos ételek</p>     
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            
         <div class="row mt-4">
            <div class="col-md-12 text-center">
                <h1 id="cim">
                    Your receipts
                </h1>
            </div>

        </div>
        <!-- TODO KÖZÉPRE IGAZÍTANI AZ EZ ALATT LEVŐ RÉSZT
         -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box tex" *ngFor="let receipt of receipts" cdkDrag>
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                        {{receipt}} 
                        <div  class="btn btn-outline-dark">
                            view
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

    </mat-sidenav-content>

</mat-sidenav-container>
