<mat-sidenav-container class="example-container" >
<mat-sidenav  mode="side" position="start" id="sidenavbar" opened>
<div class="container">
    <div class="row">
        <div class="col ">
                <h2 class="text-center pl-0 pb-5">{{title}}</h2>
        </div>
    </div>
</div>
<div class="container">
    <nav class="nav flex-column">
        <div class="row h64">
            <div class="col">
                <a class="nav-link active" routerLink="/home">Home</a>
            </div>
        </div>
        <div class="row h64">
            <div class="col">
                <a class="nav-link" routerLink="/receiptsmanager" >Receipt Manager</a>
            </div>
        </div>
        <div class="row h64">
            <div class="col">
                <a class="nav-link" routerLink="/receipts" >Others Receipts</a>           
            </div>
        </div>

        <div class="row h64">
                <div class="col">
                    <a class="nav-link " routerLink="/login" >Log out</a>
                </div>
            </div>
    </nav>
</div>
</mat-sidenav>
    <mat-sidenav-content id="content">


        <div class="continer mt-4">
            <div class="row">
                <div class="col-md-8 text-center">
                    <h1 id="cim">
                        Your receipts
                    </h1>
                </div>
                <div class="col-md-4 text-center">
                    <h3 id="filter">
                        Search in your receipts
                    </h3>
                </div>

            </div>
        </div>

        <div class="container-fluid ml-4 mt-4">
            <div class="row">
                <div class="col-md-8 text-center">
                    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let receipt of receipts" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                {{receipt}} 
                                <div  class="btn btn-outline-dark">
                                    view
                                </div>
                        </div>
                    </div>
                  
                </div>
            </div>

        </div>
       

    </mat-sidenav-content>

</mat-sidenav-container>
