<mat-sidenav-container class="example-container" >
    <mat-sidenav  mode="side" position="start" id="sidenavbar" opened>
        <app-sidenav [title]="title"></app-sidenav>
    </mat-sidenav>
        <mat-sidenav-content id="content">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Full name">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
              </p>


        </mat-sidenav-content>

    </mat-sidenav-container>
