<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" position="end" id="sidenavbar" opened>
    <div class="container h-100 d-flex flex-column justify-content-center">
      <div class="row w-100 text-center mb-5">
        <div class="col" id="login_title">LOGIN</div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <mat-form-field class="w-10  align-items-center" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Enter your email.." [(ngModel)]="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <mat-form-field class="w-10" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password.." [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <input type="submit" class="btn btn-outline-dark" (click)="login()" value="LOGIN">
        </div>
      </div>

      <div class="row ">
        <div class="col-md-8 offset-md-2 text-center">
          <p class="mt-2">OR</p>
          <input type="button" value="SIGN UP" class="btn btn-block btn-dark" routerLink="/register">
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container h-100 d-flex flex-column justify-content-center">
      <h1 class="text-center">
        Welcome to <span id="cookbook">CookBook</span> !
      </h1>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>