<div class="container mt-3 pt-3 mr-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-5 p-3">
            <div class="card">
                <img class="card-img-top rounded-circle" src="assets/img/john_doe.png" alt="Unkown user image" style="height:auto">
                <div class="card-body">
                    <h4 class="card-title text-center">New on the site?</h4>
                    <p class="card-text">Save your own recipes and browse others, after registration!</p>
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/register"><button type="button" class="text-center btn btn-outline-dark">Register!</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-5 p-3 ml-auto">
            <div class="card">
                <img class="card-img-top rounded-circle"  src="assets/img/registered_user.jpg" alt="Unkown user image" style="height:auto">
                <div class="card-body">
                    <h4 class="card-title text-center">Already a member?</h4>
                    <p class="card-text">Log in to use the many functions <span id="cookbook">CookBook</span> has!</p>
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/login"><button type="button" class="text-center btn btn-outline-dark">Log in!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
