/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap&subset=latin-ext');

#cookbook {
	font-family: 'Sacramento', cursive;
}

h1 > #cookbook {
  font-size: 2.5em;
}

#logo {
  width: 2.5em;
  height: auto;
}
