<div class="row mt-4 search-box py-4">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <mat-form-field appearance="outline" class="form w-100  my-auto pb-0">
                            <mat-label>Search</mat-label>
                            <input matInput class="searchfield" placeholder="Type chicken or lamb or..." type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 text-center my-auto" id="searchButtonDiv">
                        <input class="btn btn-outline-dark" id="searchbutton" type="button" value="Search">
                    </div>
                </div>
            </div>
        </div>


        <!-- TODO: MINDEN EGYES BUTTONNAK ADNI KELL EGY ÉRTÉKET AZ ALAPJÁN HOGY MILYEN TEXT VAN BENNE PÉLDA A LEVES -->
        <div class="col-md-12 mt-3 ">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Filter by tags
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'Select tags to filter results' : 'Currently filtering for: active tags'}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
            <div class="container-fluid">
                <div class="row">
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)" id="appetizer">
                        <a class="searchfilter"> Appetizer <hr> </a>
                     </button>
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="soup">
                       <a class="searchfilter"> Soup <hr> </a>
                    </button>
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)" id="main_course">
                      <a class="searchfilter">  Main course <hr>  </a>
                    </button>
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)" id="dessert">
                       <a class="searchfilter"> Dessert <hr> </a>
                    </button>
                </div>

                <div class="row">
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="chicken">
                        <a class="searchfilter"> Chicken <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="duck">
                        <a class="searchfilter"> Duck <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="turkey">
                        <a class="searchfilter"> Turkey <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="goose">
                        <a class="searchfilter"> Goose <hr> </a>
                        </button>
                </div>
                <div class="row">
                    <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="fish">
                        <a class="searchfilter"> Fish <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="beef">
                        <a class="searchfilter"> Beef <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="pig">
                        <a class="searchfilter"> Pig <hr> </a>
                        </button>
                        <button class="col-md-3 search-topics" (click)="searchedFilter($event)"  id="venison">
                        <a class="searchfilter"> Venison <hr> </a>
                        </button>
                </div>
            </div>
         </mat-expansion-panel>
        </div>

    </div>
