  .search-box{
    background-color:rgb(255, 255, 255);
    border-bottom-color:rgb(204, 204, 204);
    border-bottom-style:solid;
    border-bottom-width:1px;
  }
  
  .searchfield{
    font-size: 20px;
  }

  