<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" position="start" id="sidenavbar" opened>
        <app-sidenav></app-sidenav>

    </mat-sidenav>
    <mat-sidenav-content id="content">
        <div class="container-fluid mx-auto justify-content-center">
            <div class="row my-4 justify-content-center container-fluid">
                <div class="col-md-6 text-center">
                    <h3 id="filter">
                        Search in your recipes
                    </h3>
                </div>
            </div>

            <app-searchbox (filter)='onFilter($event)'></app-searchbox>

            <div class="row my-4 justify-content-center container-fluid">
                <div class="col-md-6 text-center">
                    <h1>Your recipes</h1>
                </div>
            </div>
            <app-recipelist [recipes]="recipes" [editable]="false" ()></app-recipelist>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>