<mat-sidenav-container class="example-container" >
<mat-sidenav  mode="side" position="start" id="sidenavbar" opened>
    <app-sidenav [title]="title"></app-sidenav>

</mat-sidenav>
    <mat-sidenav-content id="content">
        <div class="container-fluid mx-3 w98">
            <div class="row mt-4 m-4">
                <div class="col-md-12 text-center">
                    <h3 id="filter">
                        Search in your receipts
                    </h3>
                </div>
            </div>

            <app-searchbox (filter)='onFilter($event)'></app-searchbox>
            
         <div class="row mt-4">
            <div class="col-md-12 text-center">
                <h1 id="cim">
                    Your receipts
                </h1>
            </div>

        </div>
        <!-- TODO KÖZÉPRE IGAZÍTANI AZ EZ ALATT LEVŐ RÉSZT
         -->
        <div class="row mt-4 text-center">
            <div class="col-md-12 text-center">
                <div cdkDropList class="example-list text-center" (cdkDropListDropped)="drop($event)">
                    <div class="example-box text-center" *ngFor="let receipt of receipts" cdkDrag>
                        <div class="example-custom-placeholder text-center" *cdkDragPlaceholder></div>
                        {{receipt}} 
                        <div class="btn btn-outline-dark">
                            view
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

    </mat-sidenav-content>

</mat-sidenav-container>
