<div class="container">
    <div class="row">
        <div class="col ">
                <h2 class="text-center pl-0 pb-5">{{title}}</h2>
        </div>
    </div>
</div>
<div class="container">
    <nav class="nav flex-column">
        <div class="row h64">
            <div class="col">
                <a class="nav-link active" routerLink="/home">Home</a>
            </div>
        </div>
        <div class="row h64">
            <div class="col">
                <a class="nav-link" routerLink="/receiptsmanager" >Receipt Manager</a>
            </div>
        </div>
        <div class="row h64">
            <div class="col">
                <a class="nav-link" routerLink="/receipts" >Others Receipts</a>           
            </div>
        </div>
        <div class="row h64">
                <div class="col">
                    <a class="nav-link " routerLink="/login" >Log out</a>
                </div>
            </div>
    </nav>
</div>


